<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="../static/css/style.css" rel="stylesheet"/>
    
    <title>EcoAware</title>
</head>
<body>
    <div class`='wrapper'>
        <form action="">
            <h1>Register</h1>

            <div class="input-box">
                <input class='wrapper' type="text" placeholder='House Number' required />
            </div>

            <div class="input-box">
                <input class='wrapper' type="password" placeholder='Password' required />
            </div>

            <div class="input-box">
                <input class='wrapper' type="password" placeholder='Confirm Password' required />
            </div>

            <div class="remember-forgot">
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit">Register</button>

            <div class="register-link">
                <p>Want to login instead? <a href='index.html' onClick={handleClick}>Login</a> </p>
            </div>

        </form>
    </div>
</body>
</html>